# Created by .ignore support plugin (hsz.mobi)
.idea/
*.iml;
*/target/
Test Results - JunitTest.html
Test Results - JunitTest_zad1.html
qajunit/src/
qajunit/target/generated-sources/
qajunit/target/generated-test-sources/
!/Test Results - JunitParamTest_firstParamTest.html
!/Test Results - JunitParamTest.html
!/Test Results - JunitTest.html
!/Test Results - JunitTest_zad1.html
Test Results - JunitParamTest.html
Test Results - JunitParamTest_firstParamTest.html
